
  .example-card {
    max-width: 450px;
    margin: 10px;
  }
    
  mat-card-subtitle {
    font-size: 18px;
  }

  :host {
    display: flex;
    flex-direction: column;
  
  }
  
    
  mat-card-title {
    color: green;
    font-size: 55px;
    justify-content: center;
    display: flex;
  }